
:root {
  --col-prim: #16697a;
  --col-prim-2: #2c8498;
  --col-ter-2: #4298a3;
  --col-light: #489fb5;
  --col-light-2: #82c8cc;
  --col-sec: #ffa62b;
  --col-ter: #ede7e3;
  --col-grey: #efefef;
}

body {
  padding-top: 60px;
  min-height: 100vh;
  height: 1px;
  background-color: var(--col-grey);
}

#root {
  min-height: 100%;
  height: 1px;
}


/* Navbar Styles */
.navbar {
  background-color: var(--col-grey);
  padding-top: 0;
  padding-bottom: 0;
}
.login-nav{
  background-color: var(--col-prim);
}

.navbar-brand {
  color: var(--col-light)!important;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar-brand:hover {
  color: var(--col-light)!important;
}
.login-nav .navbar-brand{
  color: var(--col-grey)!important;
}
.login-nav .navbar-brand:hover{
  color: var(--col-grey)!important;
}

.navbar-brand label {
  margin-bottom: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif!important;
  font-family: 'Montserrat', sans-serif;  
  font-weight: 500;
}
.navbar-brand label:hover{
  cursor: pointer;
}

.nav-link {
  color: var(--col-light)!important;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  font-weight: bold!important;
}

.nav-link:hover {
  color: var(--col-light)!important;
  cursor: pointer;
}

.login-nav .nav-link {
  color: var(--col-grey)!important;
}
.login-nav .nav-link:hover {
  color: var(--col-grey)!important;
}

/* Home Page */
.home-head {
  height: 220px;
  width: 100%;
  position: relative;
}

.home-head .back-img {
  background-position: 50% 60%;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
  position: absolute;
  height: 100%;
  width: 100%;
  filter: blur(2px);
}

.home-head .home-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(22,105,122, 0.65);
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-head .home-overlay h1 {
  color: #f2f2f2;
  position: relative;
  top: -30px;
  font-family: 'Patua One', cursive;
  text-align: center;
}

.home-body {
  padding-top: 30px;
  background-color: var(--col-grey);
  font-family: 'Montserrat', sans-serif;
}
.home-body.contact {
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

.home-body h3, .home-body h2 {
  font-size: 24px;
  text-align: center;
  color: var(--col-prim);
  font-weight: bold;
}
.home-body h2 {
  font-size: 28px;
}

.home-body .media img {
  height: 150px;
  width: 150px;
  background-color: transparent;
  outline: none;
  border: none;
}

.home-body .media-body h5 {
  color: var(--col-light);
  font-weight: bold;
}

.home-body .media-body ul {
  padding-left: 15px;
  color: var(--col-light-2);
}

.feature-row label {
  font-size: 20px;
}

/* Login page + Register */
.full-back {
  position: fixed;
  height: 100vh;
  width: 100vw;
}

.full-back.register {
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;
  min-height: 100%;
  height: 1px;
  width: 100%;
  overflow: auto;
}

.full-back.register-image {
  height: calc(100% - 60px);
}

.register-background {
  position: relative;
  height: 1px;
  min-height: 100%;
}

.login-back {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 55%;
  filter: blur(5px);
  z-index: 1;
}

.register-back {
  filter: blur(1px);
}

.login-overlay {
  background-color: rgba(93, 93, 93, 0.5);
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-overlay.register {
  display: block;
}

.login-complete {
  position: relative;
  top: -40px;
  width: 780px;
  background: #fff;
  display: flex;
  margin: auto;
}

.register-complete {
  width: 600px;
  background: transparent;
  top: 0;
}

.login-info {
  width: 280px;
  height: inherit;
  background-color: var(--col-light);
  color: white;
  padding: 30px;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
}

.register-info {
  width: 50px;
  padding: 0;
  background-color: rgba(72, 159, 181, 0.85);
}

.login-info h4 {
  font-weight: bold;
}

.login-info ul {
  list-style: "- ";
  padding-left: 10px;
  margin-top: 30px;
}

.login-info ul li {
  margin: 20px 0;
}

.login-form {
  margin: 0;
  padding: 30px;
  width: 500px;
  height: inherit;
  background-color: var(--col-grey);
}

.register-form {
  width: 100%;
  background-color: rgba(239, 239, 239, 0.85);
}
.register-form label{
  white-space: nowrap;
}

.login-form h4 {
  width: 100%;
  text-align: center;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

.login-form .login-error {
  height: 30px;
  width: 100%;
  text-align: center;
  margin: 0;
  line-height: 0.8;
}

.login-form input[type='text'], .login-form input[type='password'],
.login-form input[type='date'], .login-form select
{
  border: none;
  border-bottom: 2px solid black;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  transition: box-shadow 1s;
  background-color: transparent;
  border-radius: 0;
  position: relative;
  top: -10px;
}

.login-form input[type='text']:focus, .login-form input[type='password']:focus,
.login-form input[type='date']:focus, .login-form select:focus
{
  outline: none;
  box-shadow: 0 1px 0 0 var(--col-light-2);
  transition: box-shadow 1s;
  border-radius: 0;
  background-color: transparent;
}

.login-form input[type='text']::placeholder, .login-form input[type='password']::placeholder,
.login-form input[type='date']::placeholder
{
  color: #707070;
  opacity: 0.6;
  font-size: 12px;
}

.register-feedback {
  position: relative;
  top: -15px;
}

.forget-div {
  text-align: end;
  padding: 0;
}

.forgot-link {
  font-size: 12px;
  color: #000;
}
.forgot-link:hover {
  color: #000;
  cursor: pointer;
}

.login-submit-button {
  text-align: center;
  display: block;
  width: 100%;
  background-color: var(--col-light);
  border: 1px solid #707070;
  color: #fff;
  padding: 5px;
  border-radius: 7px;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
}
.login-submit-button:focus {
  border: 1px solid #707070;
}
a.login-submit-button:hover {
  text-decoration: none;
  color: #fff;
}

/* Footer */
.footer {
  background-color: var(--col-prim);
  padding: 50px 0;
}
.footer .btn {
  margin: 0 10px;
}

.footer h2, .footer h5 {
  color: var(--col-grey);
  text-decoration: underline;
  font-weight: bold;
}

.footer .foot-link {
  color: white;
  transition: all 1s;
}
.footer .foot-link:hover {
  color: var(--col-light-2);
  transition: all 1s;
  border: none;
  text-decoration: none;
  text-shadow: 0 0 1px white;
}

.btn-mail {
  background-color: var(--col-light-2);
  color: var(--col-prim);
}

/* LoggedIn CSS */
.sidebar-toggler {
  background: transparent;
  outline: none;
  border: 1px solid transparent;
  border-radius: 5px;
}
.sidebar-toggler:hover {
  cursor: pointer;
  outline: none;
}
.sidebar-toggler:focus {
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.4);
}

.hamburger .line {
  background-color: var(--col-grey);
  width: 30px;
  height: 2px;
  display: block;
  margin: 7px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hamburger.is-active .line:nth-child(1),
.hamburger.is-active .line:nth-child(3){
  width: 15px;
}

.hamburger.is-active .line:nth-child(2) {
  width: 25px;
}

.hamburger.is-active .line:nth-child(1){
  -webkit-transform: translateX(-9px) rotate(-45deg) translateY(4px);
  -ms-transform: translateX(-9px) rotate(-45deg) translateY(4px);
  -o-transform: translateX(-9px) rotate(-45deg) translateY(4px);
  transform: translateX(-9px) rotate(-45deg) translateY(4px);
}

.hamburger.is-active .line:nth-child(3){
  -webkit-transform: translateX(-9px) rotate(45deg) translateY(-5px);
  -ms-transform: translateX(-9px) rotate(45deg) translateY(-5px);
  -o-transform: translateX(-9px) rotate(45deg) translateY(-5px);
  transform: translateX(-9px) rotate(45deg) translateY(-5px);
}


.wrapper {
  min-height: 100%;
  height: 1px;
  display: flex;
  align-items: stretch;
  position: relative;
  overflow: hidden;
}

#sidebar {
  position: relative;
  min-height: 100%;
  min-width: 0px;
  width: 0px;
  max-width: 250px;
  background-color: var(--col-prim);
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  z-index: 100;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: var(--col-grey);
  overflow-x: hidden;
  white-space: nowrap;
}
#sidebar.is-active{
  min-width: 300px;
  width: 300px;
}

#sidebar .card {
  border-radius: 0!important;
  color: var(--col-prim);
}

#sidebar .card-header {
  border-radius: 0!important;
  padding-top: 8px;
  padding-bottom: 8px;
}
#sidebar .card-header:hover {
  cursor: pointer;
}

#sidebar .card-body {
  padding-top: 0;
  padding-bottom: 0;
}

#sidebar .card-body a {
  color: var(--col-prim-2);
  display: block;
  margin: 15px 0;
}
#sidebar .card-body a:hover {
  color: var(--col-prim);
  text-decoration: none;
}

#content {
  overflow-y: auto;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 100%;
  padding: 30px 50px;
  position: relative;
}

#content h4, #content h6 {
  color: var(--col-prim);
}

.dash-card {
  width: 100%;
  height: auto;
  border: 1px solid #555555;
  border-radius: 10px;
}
.dash-card .head {
  width: 100%;
  padding: 10px 20px;
  min-height: 40px;
  max-height: 80px;
  background-color: var(--col-prim-2);
  color: var(--col-ter);
  border-radius: 10px 10px 0 0;
  border-bottom: 1px solid #555555;
}
.dash-card .body {
  min-height: 150px;
  max-height: 300px;
  background-color: var(--col-grey);
  overflow-y: auto;
  border-radius:0 0 10px 10px;
}

.dash-card .nav-tabs .nav-link {
  background-color: var(--col-prim-2);
  color: var(--col-grey)!important;
  border-radius: 0;
}
.dash-card .nav-tabs .nav-link.active {
  background-color: var(--col-grey);
  color: var(--col-prim-2)!important;
  border: none;
}
.dash-card .nav-tabs .nav-link:hover {
  border: none!important;
  outline: none;
  box-shadow: none;
}

.tab-pane {
  padding: 15px;
  font-size: 16px;
}

.tab-pane a {
  color: var(--col-ter-2);
}
.tab-pane a:hover {
  text-decoration: none;
}
.tab-pane a span {
  color: rgba(0, 0, 0, 0.7)
}

.table-div {
  height: 350px;
  overflow-y: auto;
  position: relative;
  padding-bottom: 0;
}
.table-div-300 {
  height: 300px;
  overflow-y: auto;
  position: relative;
  padding-bottom: 0;
}
.table-div .table-bordered {
  white-space: nowrap;
}
.table-div.wrap .table-bordered {
  white-space: normal;
}
.table thead{
  background-color: var(--col-prim-2);
  color: var(--col-grey);
  border-radius: 10px;
}
.table-div .table {
  margin-bottom: 0;
}
.table-div::-webkit-scrollbar {
  width: 5px;
  border-radius: 20px;
}
.table-div::-webkit-scrollbar-track {
  background-color: var(--col-light-2);
  border-radius: 20px;
}
.table-div::-webkit-scrollbar-thumb {
  background-color: var(--col-prim);
  border-radius: 20px;
}
.table-div::-webkit-scrollbar-thumb:hover {
  background-color: var(--col-prim-2);
}

.del-btn {
  background-color: transparent;
  outline: none;
  border: none;
}

.modal-header, .modal-header span {
  background-color: var(--col-prim);
  color: var(--col-grey);
}

.modal-body {
  min-height: 200px;
  background-color: var(--col-grey);
  border-radius: 0 0 10px 10px;
}

#content .card-header {
  background-color: var(--col-prim);
  color: var(--col-grey);
}
#content .card-header:hover {
  cursor: pointer;
}

#content .card-body th {
  /*max-width: 50px;*/
  color: var(--col-grey);
  text-align: center;
}
#content .card-body td {
  text-align: center;
}

.details-body th{
  max-width: 50px;
  background-color: var(--col-prim);
}

input[type = 'submit'].form-control, button[type = 'submit'].btn {
  background-color: var(--col-prim-2);
  color: var(--col-grey);
}

.ward-info .tab-pane a {
  color: var(--col-grey);
}

/* Manager */
.manager-dash {
  background-color: #fff;
  position: relative;
  border: none;
  box-shadow: 0 0 2px 0 var(--col-prim-2);
}

.manager-dash .head {
  padding: 3px 10px;
  font-size: 12px;
  min-height: 15px;
  max-height: 20px;
  background-color: transparent;
  border: none;
  color: var(--col-prim-2);
}

.manager-dash .body{
  background-color: transparent;
  min-height: 40px;
  max-height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}

.manager-dash .body .float-right {
  position: absolute;
  right: 10px;
  top: 15px;
  font-size: 30px;
  opacity: 0.6;
  transition: all 0.5s;
}

.manager-dash:hover .body .float-right {
  opacity: 0.8;
  transition: all 0.5s ease-in;
  transform: scale(1.2) rotateZ(-10deg);
}

.manager-dash:hover .body .hover-red {
  color: var(--red);
}
.manager-dash:hover .body .hover-yellow {
  color: var(--yellow);
}
.manager-dash:hover .body .hover-purple {
  color: var(--purple);
}
.manager-dash:hover .body .hover-orange {
  color: var(--orange);
}
.manager-dash:hover .body .hover-teal {
  color: var(--teal);
}
.manager-dash:hover .body .hover-blue {
  color: var(--blue);
}
.manager-dash:hover .body .hover-green {
  color: var(--green);
}
.manager-dash:hover .body .hover-cyan {
  color: var(--cyan);
}

.details-table-div {
  max-height: 350px;
  overflow: auto;
}

/* Dropdown */
.dropdown-toggle {
  background-color: var(--col-prim);
  color: var(--col-grey);
  border: none;
}
.dropdown-toggle:hover {
  background-color: var(--col-prim);
  border: none;
  outline: none;
  box-shadow: 0 0 2px 0 var(--col-grey);
}
.dropdown-toggle:active, .btn-secondary.dropdown-toggle {
  background-color: var(--col-prim)!important;
  border: none!important;
  outline: none!important;
}
.dropdown-toggle:focus {
  background-color: var(--col-prim)!important;
  border: none!important;
  outline: none!important;
}

.dropdown-menu {
  background-color: var(--col-grey);
}

.dropdown-item.active, .dropdown-item:active {
  background-color: var(--col-prim);
}

/* Bill */
.bill .icon{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2em;
  color: var(--col-light);
}
.bill .icon label {
  filter: blur(0.3px);
}

/* Chat */
.chat-box {
  height: 350px;
  border: 1px solid var(--col-prim);
  box-shadow: 0 0 1px 0 var(--col-prim);
  width: 100%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.chat-area {
  height: 280px;
  border-bottom: 1px solid var(--col-prim);
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: auto;
  padding-top: 20px;
  padding-bottom: 20px;

  border-radius: 10px 10px 0 0;
  background-color: #efefef;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3E%3Cg fill='%2316697a' fill-opacity='0.12'%3E%3Cpath fill-rule='evenodd' d='M0 0h4v4H0V0zm4 4h4v4H4V4z'/%3E%3C/g%3E%3C/svg%3E");
}

.chat-form {
  height: 70px;
  background-color: white;
  border-radius: 0 0 10px 10px;
}
.chat-form form {
  height: 100%;
}
.chat-form textarea {
  height: 100%;
  width: 100%;
  border-radius: 0 0 0 10px;
  resize: none;
}
.chat-form button {
  height: 100%;
  width: 100%;
  border-radius: 0 0 10px 0;
}

.message-box {
  padding: 10px 10px 20px;
  min-height: 50px;
  display: flex;
  align-items: center;
  font-size: 14px;
  position: relative;
  color: white;
  margin-top: 5px;
  margin-bottom: 5px;
}
.message-box.right {
  position: relative;
  justify-content: flex-end;
  right: 20px;
  background-color: var(--col-ter-2);
  border-radius: 10px 0 10px 10px;
}
.message-box.right::after {
  content: '';
  width: 0;
  height: 0;
  border-bottom: 7px solid transparent;
  border-left: 10px solid var(--col-ter-2);
  position: absolute;
  right: -10px;
  top: 0;
}
.message-box.left {
  left: 20px;
  background-color: var(--col-prim-2);
  border-radius: 0 10px 10px 10px;
}
.message-box.left::before {
  content: '';
  width: 0;
  height: 0;
  border-bottom: 7px solid transparent;
  border-right: 10px solid var(--col-prim-2);
  position: absolute;
  left: -10px;
  top: 0;
}

.message-box label {
  position: absolute;
  bottom: -8px;
  font-size: 10px;
  right: 10px;
  color: #c6c6c6;
}
/* Support Classes */
.width-100 {
  min-height: 10px;
}

.full-flex-span {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.full-flex-span span {
  font-size: 14px;
}

/* Error Page */
.error-img {
  height: 200px;
  width: auto;
}

.error-mess-div {
  margin-top: 20px;
}

.error-mess {
  font-size: 18px;
  color: var(--col-prim);
}
.error-mess button {
  outline: none;
  border: none;
  color: var(--col-prim);
  font-weight: bold;
}

/* Loader */
.loader-full {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader-container {
  width: 100px;
  height:100px;
  display:flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-direction: row;
  transform: rotate(45deg);

}

.center {
  width:8px;
  height:8px;
  background-color: #489fb5;
  border-radius:50%;
}

.inner, .outer {
  position: absolute;
  display:grid;
  gap:4px;
  grid-template-columns: 1fr 1fr;
  align-content: space-around;
  justify-content: space-between;

  animation: anim_inner 2000ms ease-in-out infinite;
}

.inner__item, .outer__item {
  width:8px;
  height:8px;
  border-radius:50%;
  background-color: #82c8cc;
}

.outer {
  gap:16px;
  animation: anim_outer 2000ms ease-in-out 200ms infinite;
}

.outer__item {
  width:10px;
  height:10px;
  background-color: #16697a;
}

@keyframes anim_outer {
  from {transform:rotate(0deg)}
  30% {transform:rotate(0deg)}
  to {transform:rotate(360deg)}
}
@keyframes anim_inner {
  from {transform:rotate(0deg)}
  30% {transform:rotate(0deg)}
  to {transform:rotate(360deg)}
}

@keyframes blink {50% { color: transparent }}
.loading__dot { animation: 2s blink infinite }
.loading__dot:nth-child(2) { animation-delay: 250ms }
.loading__dot:nth-child(3) { animation-delay: 500ms }

/* Media Queries */
@media (max-width: 991.98px) {

  /* Home Page */
  .home-body .media-body h5 {
    font-size: 16px;
  }
  .home-body .media-body ul {
    font-size: 12px;
  }

  .feature-row label {
    font-size: 16px;
  }

  /* Login Page */
  .login-complete {
    width: 100%;
  }

  .login-info ul {
    font-size: 14px;
  }

  /* LoggedIn Welcome */
  .hamburger .line:nth-child(1),
  .hamburger .line:nth-child(3){
    width: 15px;
  }

  .hamburger .line:nth-child(2) {
    width: 25px;
  }

  .hamburger .line:nth-child(1){
    -webkit-transform: translateX(-9px) rotate(-45deg) translateY(4px);
    -ms-transform: translateX(-9px) rotate(-45deg) translateY(4px);
    -o-transform: translateX(-9px) rotate(-45deg) translateY(4px);
    transform: translateX(-9px) rotate(-45deg) translateY(4px);
  }

  .hamburger .line:nth-child(3){
    -webkit-transform: translateX(-9px) rotate(45deg) translateY(-5px);
    -ms-transform: translateX(-9px) rotate(45deg) translateY(-5px);
    -o-transform: translateX(-9px) rotate(45deg) translateY(-5px);
    transform: translateX(-9px) rotate(45deg) translateY(-5px);
  }

  .hamburger.is-active .line {
    background-color: var(--col-grey);
    width: 30px!important;
    height: 2px;
    display: block;
    margin: 7px auto;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-transform: none!important;
    -ms-transform: none!important;
    -o-transform: none!important;
    transform: none!important;
  }

  #sidebar.is-active {
    min-width: 0;
    width: 0;
  }
  #sidebar {
    position: absolute;
    min-width: 300px;
    width: 300px;
  }
}

@media (max-width: 767.98px) {

  /* Home Page */
  .home-body h3 {
    font-size: 20px;
  }

  .home-body .media-body h5 {
    font-size: 18px;
  }

  /* Login Page */
  .login-overlay {
    padding-top: 20px;
  }

  .login-complete {
    width: 100%;
    flex-direction: column;
    height: auto;
  }

  .login-form {
    width: 100%;
  }

  /* Footer */
  .foot-link-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
  }
}

@media (max-width: 575.98px) {

  /* Login Page */
  .login-form label {
    padding: 0;
  }

  /* LoggedIn */
  #content {
    padding: 30px 15px;
  }

  /* Overriding Bootstrap */
  .container {
    width: 90%;
  }
}

@media print {
  .btn {
    display: none;
  }
}